extends layout

block content
  link(rel="stylesheet", href="/styles/main.css")
  section.main  
    each message in messages
      article.boxArticle  
        div.box1Article 
          span.articleTitle= message.title
          span.articleDate= message.fecha
        div.box2Article 
          span.articleText= message.text
        div.box3Article 
          div 
            if(currentUser)
              if(currentUser.admin)
                button.btn.btnDelete
                  a(href="/delete/" + message._id).linkDelete Delete
          if(currentUser)
            span.articleAuthor= message.user.name
          else 
            span.articleAuthor Anonimo
  if(currentUser)
    if(currentUser.admin)
      .admin.btn You are admin &gt;:3
    else
      button.admin.btn
        a(href='/admin').link You want admin? 
  if(currentUser)
    button.btn.addM 
      a.aparenceNone(href="/add") +