extends layout

block content
  link(rel="stylesheet", href="/styles/form.css")
  form.count(method='POST' action='' autocomplete="off")
    h1.titleH1 Inicia Sesion 
    label.labelForm(for="email") Email: 
    input#email.inputForm(type="email", name="username" required)
    label.labelForm(for="password") Paswoord: 
    input#password.inputForm(type="password", name="password" minlength="6" maxlength="12" required)
    button.btnSubmit.btn(type="submit") Submit

